.bento__card:nth-child(8) .bento__card--title {
  font-size: 1.5rem;
  line-height: 1.4rem;
  margin-bottom: 1.4rem;
}

.bento__card:nth-child(8) .bento__card--image-container {
  width: 12.22rem;
}

@media screen and (min-width: 1024px) {
  .bento__card:nth-child(8) .bento__card--title {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }
  .bento__card:nth-child(8) .bento__card--image-container {
    width: 105%;
  }
}
